</div>
</div>


<footer class="footer">
  <div class="social-icon-box">
    <a href="https://twitter.com/Pogiee3"><i class="fab fa-twitter-square foot-icon"></i></a>
    <a href="https://www.instagram.com/pogiee_games/"><i class="fab fa-instagram foot-icon"></i></a>
    <a href="https://www.facebook.com/Pogiee-109822717993232/"><i class="fab fa-facebook-square foot-icon"></i></a>
  </div>

  <div class="copyright-box">
    <p><a href="/faq">FAQ </a> | <a href="/support">Support</a> | <a href="/about">About Us</a><p>
  </div>
</footer>

<script src="cookies.js"type="text/javascript">

</script>

</body>
</html>
