<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/css/reset-password.css">


            <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  </head>
  <body>

  <div class="container">
       <div class="main">

         <nav>
           <h3>Pogiee</h3>
         </nav>



        <div class="banner">
            <h1>Reset Password</h1>
        </div>

        <% if( error === "true"){ %>
          <div class="error-box">
            <p>Error password reset fail</p>
          </div>
      <%  }else if(match === "false"){  %>
        <div class="error-box">
          <p>Error passwords do not match</p>
        </div>
    <%  }  %>

        <div class="input-div">
          <form action="index.html" method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">password</label>
                <input type="password" name="password" class="form-control" id="exampleFormControlInput1" placeholder="password">
           </div>
           <div class="mb-3">
               <label for="exampleFormControlInput1" class="form-label">confrim password</label>
               <input type="password" name="password2" class="form-control" id="exampleFormControlInput1" placeholder=" confrim password">
          </div>
          <button type="submit" class="btn btn-dark">submit</button>
          </form>

        </div>


       </div>

  </div>


<footer>

</footer>



  </body>
</html>
