<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>activate</h1>


    <form method="POST" action="/restart">
        <button type="submit">Manage billing</button>
    </form>
  </body>
</html>
