<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Suppor - Pogiee</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/support.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  </head>
  <body>


  <div class="container">
      <div class="nav2">
         <h3 id="logo2-btn" class="nav-item2">pogiee</h3>
         <h3c id="back-to-home" class="nav-item2" >Back to Home</h3>
      </div>

      <div class="main">
        <nav>
          <div class="nav-box">
            <h3 id="logo1-btn" class="nav-item">pogiee</h3>
            <i class="fas fa-bars nav-item"></i>
          </div>
         </nav>

         <div class="drop-down-menu">
            <h3 id="about-btn">About US</h3>
            <h3 id="terms-btn">Terms & Conditions</h3>
            <h3 id="privacy-btn">Privacy Policy</h3>
            <h3 id="cookies-btn" >Cookies Policy</h3>
         </div>

          <div class="banner">
             <h1>Hi, How can we help?</h1>
          </div>


        <div class="message-box">

          <form action="/support" method="post">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email" >
            </div>
           <div class="mb-3">
             <label for="exampleFormControlTextarea1" class="form-label">Message</label>
             <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" name="message" ></textarea>
           </div>

           <button type="submit" class="btn btn-dark">Submit</button>
          </form>

        </div>


      </div>
  </div>


 <footer>
   <a href="https://twitter.com/Pogiee3"><i class="fab fa-twitter-square foot-icon"></i></a>
   <a href="https://www.instagram.com/pogiee_games/"><i class="fab fa-instagram foot-icon"></i></a>
   <a href="https://www.facebook.com/Pogiee-109822717993232/"><i class="fab fa-facebook-square foot-icon"></i></a>
 </footer>


 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>


 <script src="support.js"type="text/javascript">

 </script>



  </body>
</html>
