@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');


* {
  marin: 0;
  padding: 0;
}

html, body {
 height: 100%;
 margin: 0;
}


.contanier {
min-height: 100%;
}


.main {
  overflow: auto;
  padding-bottom: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  font-family: 'Days One', sans-serif;
}

.nav-item {
  margin: 10px;
  font-size: 25px;
  cursor:pointer;
}

.drop-down-menu {
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding-bottom: 10px;
}

.drop-down-menu h3 {
  font-family: 'Days One', sans-serif;
  margin: auto;
  padding: 7px;
  cursor:pointer;
}

.drop-down-menu h3:hover {
  color: #fed049;
}

.banner {
  background-color: #fed049;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}

.banner h1 {
  color: #fff;
  font-family: 'Days One', sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}

.question-box {
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.question-box h3 {
  font-family: 'Days One', sans-serif;
  cursor:pointer;
}

.question-box h3:hover {
  color: #fed049;
}

.answer-box {
  border-bottom: 1px solid #000;
  padding: 20px;
}

.answer-box p{
  font-family: 'Days One', sans-serif;
}


footer {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear:both;

  background-color: #1b2021;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foot-icon {
  color: #fff;
  margin: 10px;
  font-size: 30px;
  cursor:pointer;
}

.foot-icon:hover {
  color: #fed049;
}

.copyright-box {
  color: #fff;
}

.copyright-box a {
    text-decoration: none;
    color: #fff;
}

.copyright-box a:hover {
    color: #fed049;
}


@media (min-width: 765px) {

  .nav-item {
    margin: 10px;
    font-size: 30px;
  }

  .question-box {
    border-bottom: 1px solid #000;
    padding: 30px;
  }


}

@media (min-width: 1024px) {

  .question-box {
    border-bottom: 1px solid #000;
    padding: 40px;
  }

}
