@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');


* {
 margin: 0;
 padding: 0;
}

html, body {
 height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  font-size: 25px;
  padding: 10px;
  font-family: 'Days One', sans-serif;
}

.container {
 min-height: 100%;
}


.main {
 overflow: auto;
 padding-bottom: 500px;
}

.banner {
  font-family: 'Days One', sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}


footer {
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;


  background-color: #1b2021;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
  margin-top: -75px;
}



.foot-icon {
  color: #fff;
  margin: 10px;
  font-size: 30px;
  cursor:pointer;
}

.foot-icon:hover {
  color: #fed049;
}

.copyright-box {
  color: #fff;
}

.copyright-box a {
    text-decoration: none;
    color: #fff;
}

.copyright-box a:hover {
    color: #fed049;
}

.success-box {
  background-color: #66DE93;
}

.error-box {
  background-color: #eec4c4;
  color: red;
  width: 250px;
  margin: auto;
  padding: 2px;
  display: flex;
  justify-content: center;
}

.input-div {
 padding-top: 10px;
 margin: auto;
}

#logo-btn{
    cursor:pointer;
}


@media (min-width: 720px){
  .input-div {
   width: 500px;
   margin: auto;
  }

  .success-box {
    background-color: #66DE93;
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;

    background-color: #1b2021;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }


}
