* {
  margin: 0;
  padding: 0;
}

html, body {
 height: 100%;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1b2021;
}

#logo1-btn {
  color: #1b2021;
  font-family: 'Days One', sans-serif;
  cursor:pointer;
}

#logo2-btn {
  color: #1b2021;
  font-family: 'Days One', sans-serif;
  cursor:pointer;
}

#Banner-content {
font-family: 'Racing Sans One', cursive;
font-size: 40px;
}

#bottom-p {
  font-size: 20px;
}

.nav-item {
margin-top: 5px;
margin: 10px;
}

.container {
  min-height: 100%;
  min-width: 100%;
  background-color: #d8e3e7;
}

.drop-down-menu {
  background-color: #fed049;
  padding: 10px;
}

.drop-down-menu h3{
font-family: 'Days One', sans-serif;
font-size: 20px;
}

.main {
  overflow: auto;
  padding-bottom:520px;
  text-align: center;
  background-color: #d8e3e7;
}

.main-content {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  padding-top: 40px;
  padding-bottom: 40px;
}

.banner {
  position: relative;
  top: 100px;
}

.sell-point {
  position: relative;
  top: 275px;
}

.sell-point p {
 font-family: 'Racing Sans One', cursive;
 font-size: 20px;
}

.button-box {
  position: relative;
  top: 275px;
  display: flex;
  flex-direction: column;
}

.button-box a {
  text-decoration: none;
}

.btn {
  margin: 10px;
}

.footer {
 background-color: #1b2021;
 position: relative;
 height: 100px;
 margin-top: -75px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.foot-icon {
  color: #fff;
  font-size: 30px;
  margin: 10px;
  cursor:pointer;
}

.foot-icon:hover {
  color: #fed049;
}

.desktop-nav {
  display: none;
}


.copyright-box {
  color: #fff;
}

.copyright-box a {
    text-decoration: none;
    color: #fff;
}

.copyright-box a:hover {
    color: #fed049;
}

.logo-banner {
 background: url("https://res.cloudinary.com/adela-digi/image/upload/v1624659422/LogoMakr-0mnGpM_ipzks0.png");
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 height: 200px;
 position: relative;
 top: 150px;
}

#menu-btn {
  font-size: 25px;
}

@media (min-width: 720px) {

  .main {
    padding-bottom: 650px;
  }

  #logo {
    font-size: 40px;
  }

  #menu-btn {
    font-size: 30px;
  }

  #Banner-content {
  font-size: 60px;
  }

  .button-box {
  max-width: 400px;
  margin: auto;
  }

  .footer {
   height: 120px;
   margin-top: -120px;
  }

  .foot-icon {
    color: #fff;
    font-size: 30px;
    margin: 10px;
  }

  .main {
    padding-bottom: 450px;
  }

  .logo-banner {
   background: url("https://res.cloudinary.com/adela-digi/image/upload/v1624659422/LogoMakr-0mnGpM_ipzks0.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   height: 250px;
   position: relative;
   top: 150px;
  }

}

@media (min-width: 1024px) {

  nav {
    display: none;
  }

  .main {
    overflow: auto;
    padding-bottom:640px;
    text-align: center;
    background-color: #d8e3e7;
  }

  .desktop-nav {
    display: unset;
    display: flex;
    justify-content: space-between;
  }

  #log {
    display: none;
  }

}
