* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.container {
 min-height: 100%;
 min-width: 100%;
 background-color: #d8e3e7;
}

span {
  background-color: #000;
}

.main {
 overflow: auto;
 padding-bottom: 175px;
 background-color: #d8e3e7;
}

nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  font-family: 'Days One', sans-serif;
  color: #1b2021;
}

.privacy-box {
  background-color: #fff;
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  position: relative;
  top: 50px;
}

.privacy-box p{
  margin: 30px;
  font-size: 20px;
}

.privacy-banner {
  margin: auto;
}

.footer {
 background-color: #1b2021;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: relative;
 height: 75px;
 margin-top: -75px;
 clear: both;
}

.foot-icon {
  color: #fff;
  font-size: 30px;
  margin: 10px;
}

.foot-icon:hover {
  color: #fed049;
}

.copyright-box {
  color: #fff;
}

.copyright-box a {
    text-decoration: none;
    color: #fff;
}

.copyright-box a:hover {
    color: #fed049;
}

.social-icon-box {
  padding-top: 20px;
}

.btn {
  background-color: background-color: #1b2021;
}

.terms-box {
  position: relative;
  top: 20px;
  font-size: 12px;
}

#logo-btn {
  cursor:pointer;
}

@media (min-width: 720px) {

  .info-box {
    width: 400px;
  }

  .form-control {
    min-width: 380px;
  }

  #submit-btn {
    min-width: 380px;
    position: relative;
    top: 20px;
  }

  .privacy-box {
    width: 600px;
  }

  .privacy-box p{
    margin: 30px;
  }

  .privacy-banner {
    margin: auto;
  }

}




@media (min-width: 1024px) {


  .info-box {
    top: 250px;
  }

  .banner {
    top: 100px;
  }

  .main {
   padding-bottom: 275px;
  }

  .footer {
   height: 100px;
   margin-top: -100px;
   clear: both;
  }

  .foot-icon {
    color: #fff;
    font-size: 30px;
    margin: 10px;
  }

  .privacy-box {
    width: 800px;
  }

  .privacy-box p{
    margin: 30px;
  }

  .privacy-banner {
    margin: auto;
  }


}
