@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
   margin: 0;
   padding: 0;
}

html, body {
  height: 100%;
}

.container {
   min-height: 100%;
}

.main {
   overflow: auto;
   padding-bottom: 400px;
}

nav {
  display: flex;
  justify-content: center;
}

nav h3 {
  font-size: 30px;
  font-family: 'Days One', sans-serif;
}

.banner {
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.error-box {
  background-color: #eec4c4;
  color: red;
  display: flex;
  justify-content: center;
}

footer {
    background-color: #000;
    position: relative;
    height: 100px;
    margin-top: -100px;
}

.input-div {
  width: 250px;
  margin: auto;
}

@media (min-width: 720px){

 .input-div {
   width: 400px;
   margin: auto;
 }


}
