@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

html , body {
  height: 100%;
}

.container {
 min-height: 100%;
}

.main {
 overflow: auto;
 padding-bottom: 100px;
}

nav {
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}


nav h3 {
  font-size: 20px;
  margin: 5px;
  font-family: 'Days One', sans-serif;
}

.welcome-back-banner {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan-box {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.plan-box2 {
  background-color: #F6F6F6;
  border-top: 2px solid #AAAAAA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.add-card-dropdown {
  background-color: #F6F6F6;
  border-top: 2px solid #AAAAAA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.drop-item {
  margin: 5px;
}

.how-to-1 {
  justify-content: center;
}

.how-to-1 p {
  font-size: 15px;
}

.plan-box2 h4 {
 margin: 5px;
}

.terms-box {
  padding-bottom: 100px;
}

.reactivate-div {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.terms-box p {
 font-size: 15px;
 padding-bottom: 100px;
 margin: 20px;
}

.botton-box {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.blue {
  color: blue;
  margin: 10px;
  align-items: flex-end;
}

.card-info {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.foot-icon {
  color: #fff;
  font-size: 30px;
  margin: 10px;
  cursor:pointer;
}

.foot-icon:hover {
  color: #fed049;
}

footer {
 background-color: #000;
 position: relative;
 height: 100px;
 margin-top: -100px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.d-grid {
  margin: auto;
}

@media (min-width: 720px){
  nav h3 {
    font-size: 25px;
    margin: 5px;
  }

  .plan-box {
    justify-content:
    padding: 20px;
    margin: auto;
    max-width: 400px;
  }

  .plan-box2 {
    justify-content:
    padding: 20px;
    margin: auto;
    max-width: 400px;
  }

  .add-card-dropdown {
    margin: auto;
    padding: 20px;
    max-width: 400px;
  }

  .terms-box p {
   font-size: 15px;
   padding-top: 20px;
   padding-bottom: 100px;
   margin: auto;
   max-width: 400px;
  }
}
